body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.barra-navegacao {
  background-color: #fd8918; /* Cor para o background */
  color: #232220; /* Cor para o texto */
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.botao-pdv {
  background-color: #fd8918;
  color: #232220;
  border: none;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none; 

}
.botao-cadprod {
  background-color: #fd8918;
  color: #232220;
  border: none;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none; 

}
.titulo-aplicacao {
  background-color: #fd8918; /* Cor para o background */
  color: #232220; /* Cor para o texto */
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.titulo-cadprodpagina {
  background-color: #fd8918; /* Cor para o background */
  color: #232220; /* Cor para o texto */
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  
}
.botao-addprod  {
  background-color: #fd8918;
  color: #232220;
  border: none;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none; 

}
.botao-calc-troco {
  background-color: #fd8918;
  color: #232220;
  border: none;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none; 
}